<body>
  <div class="container">
    <div class="title">
      <h1>Some HL2RP Original Characters</h1>
    </div>
    <section>
      <img
      src="assets\img\Miclox_adult_woman_in_her_40s_skinny_wearing_a_black_jacket_bla_41e5acf3-b22e-4532-bcd0-7b9c4c901038.png"
      alt="">
      <img
      src="assets\img\Miclox_young_men_in_her_20s_skinny_wearing_a_red_jacket_blonde__9705ba25-3901-4a2c-a6be-84314b06c73b.png"
      alt="">
      
      <img
      src="assets\img\DavidAlcala_portrait_of_a_rat_with_a_knife_9906eaeb-b532-441b-987c-7a99889960f0.png"
      alt="">
      
    </section>
    <div class="subtitle">
      <h2>
        Press space to continue
      </h2>
    </div>
  </div>

  <div class="char-description hidden">

  </div>
</body>