* {
  color: white;
}

section {
  display: flex;
  width: 600px;
  height: 430px;
  margin: auto;
}

section img {
  width: 0px;
  flex-grow: 1;
  opacity: .8;
  object-fit: cover;
  transition: .5s ease;
}

section img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(110%);
}

body {
  // background-color: #1C1B22;
  // background-image: url('../assets/img/half-life-valve-corporation-gordon-man-half-life-2-wallpaper-preview.jpg');
  // background-size: cover;
  // background-repeat: no-repeat;
  height: 100%;
  width: 100%;


}

.container {
  width: 80%;
  min-height: 100%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.title {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.title h1 {
  color: white;
  font-family: Roboto;
}

.subtitle {
  text-align: center;
  margin-top: 5%;
}

.subtitle h2 {
  color: white;
  font-family: Roboto;
}

.char-description {
  width: 60%;
  min-height: 100%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.hidden {
  display: none;
}

.profile {
  width: 40%;
  border: 1px solid white;
}

.profile img {
  width: 100%;
}

.bio {
  width: 60%;
  border: 1px solid white;
  padding: 2%;
}

.row {
  width: 100%;
  display: flex;
}

.stat-title {
  color: #FAC51C;
  font-weight: bold;
}

.stats-container {
  width: 48%;
  margin: auto;
  margin-top: 0%;
}

.skills-container {
  width: 48%;
  margin: auto;
  margin-top: 0%;
}

.section-title {
  margin-top: 0%;
}

// Imported Styles

#faq {
  margin: auto;
  padding: 0 15px;
  text-align: center;
  border: 1px solid white;
}

section.faq {
  padding-top: 2em;
  padding-bottom: 3em;
}

#faq ul {
  text-align: left;
}

.transition,
p,
ul li i:before,
ul li i:after {
  transition: all 0.3s;
}

#faq .no-select,
#faq h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
}

#faq h1 {
  margin-bottom: 30px;
}

#faq h2 {
  font-weight: bold;
  color: #FAC51C;
  font-family: 'hm_light', sans-serif;
  font-size: 20px;
  line-height: 34px;
  text-align: left;
  padding: 15px 15px 0;
  text-transform: none;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  margin: 0;
  cursor: crosshair;
  transition: .2s;
}

#faq p {
  color: #333;
  text-align: left;
  font-family: 'hm_light', sans-serif;
  font-size: 14px;
  line-height: 1.45;
  position: relative;
  overflow: hidden;
  max-height: 250px;
  will-change: max-height;
  contain: layout;
  display: inline-block;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 0 50px 0 15px;
  transition: .3s opacity, .6s max-height;
  hyphens: auto;
  z-index: 2;
}

#faq ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}

#faq ul li {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  /*padding-bottom: 4px;*/
  /*padding-top: 18px;*/
  background: #fff;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
  -webkit-tap-highlight-color: transparent;
}

#faq ul li+li {
  margin-top: 15px;
}

#faq ul li:last-of-type {
  padding-bottom: 0;
}

#faq ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 28px;
  right: 15px;
}

#faq ul li i:before,
ul li i:after {
  content: "";
  position: absolute;
  background-color: #FAC51C;
  width: 3px;
  height: 9px;
}

#faq ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}

#faq ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}

#faq ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  touch-action: manipulation;
}

#faq ul li input[type=checkbox]:checked~h2 {
  color: #000;
}

#faq ul li input[type=checkbox]:checked~p {
  /*margin-top: 0;*/
  max-height: 0;
  transition: .3s;
  opacity: 0;
  /*transform: translate(0, 50%);*/
}

#faq ul li input[type=checkbox]:checked~i:before {
  transform: translate(2px, 0) rotate(45deg);
}

#faq ul li input[type=checkbox]:checked~i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

// Skills

.skills {
  /*style the text*/
  color: #fff;
}

.skills {
  list-style: none;
}

.bar {
  /*style the bar*/
  background-color: #353b48;
  display: block;
  height: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #2187e7b3;
}

.bar span {
  /*style the span tag*/
  height: 2px;
  float: left;
  background-color: #FAC51C;
}

.html {
  /*set skills and animation of html*/
  width: 80%;
  animation: html 2s;
}

.css {
  /*set skills and animation of css*/
  width: 93%;
  animation: css 2s;
}

.javascript {
  /*set skills and animation of javascript*/
  width: 50%;
  animation: javascript 2s;
}

.jquery {
  /*set skills and animation of jquery*/
  width: 30%;
  animation: jquery 2s;
}

@keyframes html {

  /*animate html skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

@keyframes css {

  /*animate css skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 93%;
  }
}

@keyframes javascript {

  /*animate javascript skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}

@keyframes jquery {

  /*animate jquery skills*/
  0% {
    width: 0%;
  }

  100% {
    width: 30%;
  }
}
