@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto/Roboto-Regular.ttf");
}

* {
  font-family: Roboto;
}

html,
body {
  min-height: 100%;
  height: auto;
  margin: 0;
  background-color: black;
    background-image: url('assets/img/combine_interface_by_hive17_dagvuvv-fullview.jpg');
    background-repeat: repeat;
}